body {
    background-color: #000; 
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 350px;
    padding: 20px;
    
}

#display {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    font-size: 80px;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-weight: 200;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; 
}

button {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
    transition: filter 0.2s; 
}

button:active {
    filter: brightness(130%); 
}


.btn-dark {
    background-color: #333333;
}


.btn-orange {
    background-color: #ff9f0a;
    font-size: 40px; 
}


.btn-grey {
    background-color: #a5a5a5;
    color: black; 
}


.btn-zero {
    grid-column: span 2; 
    width: 100%; 
    border-radius: 40px; 
    text-align: left;
    padding-left: 30px;
}